#headerTable{
    width: 100%;
}
.logo{
    width: 80px;
}
nav{
    padding-right: 16px;
}
a{
    padding-right: 18px;
    text-decoration: none;
    color: black;
}
video{
    width: 100%;
}
#UserImage{
    width: 500px;
}
.BioBox{
    width: 70%;
    text-align: left;
}
.btn{
    padding: 14px;
    border-radius: 10px;
    font-size: large;
}
.footerText{
    text-align: center;
    color: black;
}
footer{
    background-color: chocolate;
    height: 100px;
}



